<section class="msg-reader-recipients-cc-header" role="region" data-statuscolor="default">
  <header data-prop="headerNode">
    <h1 id="msg-reader-recipients-cc-header" class="msg-reader-recipients-cc-header-label"
      data-prop="recipientsCcLabel"></h1>
  </header>
</section>
<div data-prop="scrollContainer" class="scrollregion-below-header">
  <div data-prop="addrBar" class="cmp-envelope-bar">
    <ul data-prop="recipientsCcContainer" class="msg-reader-recipients-cc-container"
        role="heading" aria-labelledby="msg-reader-recipients-cc-header">
    </ul>
  </div>
</div>
