
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
ul li {
  -moz-box-sizing: border-box;
  position: relative;
  border-bottom: 0.1rem solid #e6e6e3;
  color: #000;
  height: 6rem;
  padding: 0 1rem !important;
  background: var(--color-gs00)
}
ul li:last-child {
  border-bottom: none;
}
ul li.sound-setting {
  min-height: 7.9rem;
}
ul li label:not([for]) {
  background: none;
}
ul li > a,
ul li > span,
ul li > small,
ul li > label > span,
ul li > label > small {
  display: block;
  text-decoration: none;
  outline: 0;
  color: var(--color-gs90);
  -moz-box-sizing: border-box;
  font-size: var(--font-p-pri);
}
ul li,
ul li > a,
ul li > label {
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul#bluetooth-devices li > a,
ul#bluetooth-paired-devices li > a {
  margin-left: 4rem;
}
ul li[hidden] {
  display: none;
}
ul li > a > span {
  pointer-events: none;
}
.focus * {
  color: var(--color-gs00);
}
ul li.active a,
ul li.active span,
ul li:not([aria-disabled="true"]) > small + a:active,
ul li:not([aria-disabled="true"]) > a[href]:active,
ul li:not([aria-disabled="true"]) > small + a:focus,
ul li:not([aria-disabled="true"]) > a[href]:focus {
  background-color: #b2f2ff;
  color: #222;
}
ul li[aria-disabled="true"] > a {
  color: #797e80;
  opacity: 0.6;
  pointer-events: none;
}
ul > li > progress {
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul > li > progress + span {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  -moz-padding-end: 0;
  -moz-padding-start: 1rem;
  color: #505b5b;
  font-size: var(--font-p-sec);
  line-height: 6rem;
}
ul > li > progress.overlapping-icon {
  position: absolute;
  right: 3rem;
  top: 50%;
  margin-top: -1.5rem;
}
ul > li > progress.hidden {
  display: none;
}
ul li > a span:nth-of-type(2):not(.button) {
  position: absolute;
  right: 1.5rem;
  color: #505859;
  line-height: 6rem;
  height: 6rem;
  top: 0;
}
ul li > *, ul li > label > *, ul li > a > * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul li > small, ul li > label > small , ul li > a > small {
  display: block;
  font-size: var(--font-p-sec);
  color: #505859;
  
  pointer-events: none;
}
small > span {
  display: block;
}
ul li > label {
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 400;
  margin: 0;
  padding: 1.5rem 1.5rem 1rem;
}
ul li > label ~ input {
  margin-bottom: 1.5rem;
}
ul li > label.pack-checkbox > small,
ul li > label.pack-radio > small {
  right: 6.1rem;
}
ul li > label.pack-switch > small {
  right: 9rem;
}
ul li button,
ul li a.bb-button {
  display: inline-block;
  margin: 1rem 0;
}
ul li label {
  text-transform: none;
}
ul li > label:not([for]),
ul li > label.pack-checkbox,
ul li > label.pack-radio,
ul li > label.pack-switch {
  padding: 0 1.5rem;
  margin: 0 -1.5rem;
  width: 100%;
  height: 100%;
  min-height: 6rem;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul li > label:not([for]) > span,
ul li > label.pack-checkbox > span,
ul li > label.pack-radio > span,
ul li > label.pack-switch > span {
  line-height: normal;
  height: auto;
}
ul li > label.pack-checkbox > span:after,
ul li > label.pack-radio > span:after,
ul li > label.pack-switch > input ~ span:after {
  left: auto;
  right: 1.5rem;
}
ul li > label.pack-checkbox > span {
  -moz-padding-end: 6.1rem;
}
ul li > label.pack-radio ~ p {
  -moz-padding-end: 3rem;
}
ul li > label.pack-switch > span {
  -moz-padding-end: 9rem;
}
ul li > label.pack-radio > span {
  -moz-padding-end: 5.9rem;
}
ul li > label.pack-checkbox:active,
ul li > label.pack-radio:active,
ul li > label.pack-switch:active {
  background-color: #b2f2ff;
  color: #222;
}
ul li p {
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 400;
  margin: 0;
}
ul li p + label:not([for]) {
  top: 2.5rem;
  height: calc(100% - 2.5rem);
}
html[dir="rtl"] ul li > a span:nth-of-type(2):not(.button) {
  left: 1.5rem;
  right: auto;
}
html[dir="rtl"] ul li > label.pack-checkbox > small,
html[dir="rtl"] ul li > label.pack-radio > small {
  left: 6.1rem;
  right: 4rem;
}
html[dir="rtl"] ul li > label.pack-checkbox > small:not(.menu-item-desc),
html[dir="rtl"] ul li > label.pack-radio > small:not(.menu-item-desc) {
   left: 9rem;
   right: 2rem;
}
html[dir="rtl"] ul li > label.pack-switch > small {
   left: 9rem;
   right: 4rem;
}
html[dir="rtl"] ul li > label.pack-switch > small:not(.menu-item-desc) {
   left: 9rem;
   right: 2rem;
}
html[dir="rtl"] ul li > label.pack-checkbox > span:after,
html[dir="rtl"] ul li > label.pack-radio > span:after,
html[dir="rtl"] ul li > label.pack-switch > input ~ span:after {
  left: 1.5rem;
  right: auto;
}
html[dir="rtl"] ul li > label.pack-checkbox > span:not(.menu-item) {
  padding-left: 6.1rem;
  padding-right: 3rem;
}
html[dir="rtl"] ul li > label.pack-switch > span:not(.menu-item) {
  padding-left: 9rem;
  padding-right: 3rem;
}
html[dir="rtl"] ul li > label.pack-radio > span:not(.menu-item) {
  padding-left: 5.9rem;
  padding-right: 3rem;
}
html[dir="rtl"] ul li > label input[type="range"] {
  left: 7rem;
  right: 5rem;
}
html[dir="rtl"] ul li.sound-setting > label input[type="range"] {
  left: auto;
  right: 1.5rem;
}
html[dir="rtl"] dl dt {
  padding-left: 0;
  padding-right: 3rem;
}
html[dir="rtl"] ul li.bluetooth-device > a{
  padding-left: 1rem;
  padding-right: 1rem;
}
html[dir="rtl"] ul li > label.pack-checkbox > .color-preview:before {
  margin-left: 1rem;
  margin-right: -1rem;
}
html[dir="rtl"] ul > li > progress.overlapping-icon {
  right: unset;
  left: 3rem;
}
