<element name="appPermissions-details" extends="section">
  <template>

    <gaia-header data-href="appPermissions">
      <h1 class="detail-title"></h1>
    </gaia-header>

    <div>
      <header id="permissionsListHeader" class="permissionsListHeader">
        <h2 data-l10n-id="permissions"></h2>
      </header>
      <ul role="menu">
      </ul>
    </div>

    <panel data-path="panels/app_permissions_detail/panel"></panel>

  </template>
</element>
