<element name="volte-description" extends="section">
  <template>
    <gaia-header data-href="#volte"></gaia-header>

    <div role="menuitem" class="more-description-content">
      <p data-l10n-id="volte-cellular-preferred"></p>
      <p data-l10n-id="volte-cellular-preferred-desc"></p>
      <p data-l10n-id="volte-cellular-only"></p>
      <p data-l10n-id="volte-cellular-only-desc"></p>
      <p data-l10n-id="volte-wifi-preferred"></p>
      <p data-l10n-id="volte-wifi-preferred-desc"></p>
      <p data-l10n-id="volte-wifi-only"></p>
      <p data-l10n-id="volte-wifi-only-desc"></p>
    </div>

    <panel data-path="panels/volte_description/panel"></panel>
  </template>
</element>
