html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: white;
  overflow: hidden;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

:root {
  /** Background */
  --background: #0b0b0b;
  /** Font Color */
  --color-gs00: white;
  /** Font Size */
  --font-p-pri: 1.7rem;
  --font-p-large: 2.2rem;
}

ul li {
  list-style: outside none none;
  font-size: var(--font-p-pri);
}

.result-pass {
  color: green;
}

.result-fail {
  color: red;
}

.result-notest {
  color: white;
}

/***Title***/
/*title area height is 64px*/
#title {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: var(--font-p-large);
  font-weight: 400;
}

/***Content(except title and button)***/
#content {
  margin: 1rem;
  position: absolute;
  width: 100%;
  height: calc(100% - 90px);
  top: 48px;
  overflow: scroll;
  font-size: var(--font-p-large);
  font-weight: 400;
}

/*center text*/
#centertext {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -moz-calc(50% - 6rem);
  font-size: var(--font-p-large);
  font-weight: 400;
}

/***Buttons***/
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none;
}
button,
input[type="button"] {
  background-color:transparent;
  color: #000;
  outline: none;

}
button:active,
input[type="button"]:active {
  background: #008aaa;
  color: #333;
  outline: none;
}
button[disabled],
input[type="button"][disabled] {
  background: #5f5f5f;
  color: #4d4d4d;
}

#retestButton {
  position: absolute;
  font-size: 22px;
  top: -moz-calc(100% - 34px - 34px - 12px);
  width: -moz-calc(100% - 20px);
  height: 3.5rem;
  left: 10px;
}

#dialButton {
  position: absolute;
  font-size: 22px;
  top: -moz-calc(100% - 34px - 34px - 12px);
  width: -moz-calc(100% - 20px);
  height: 3.5rem;
  left: 10px;
}

/*button area height is 64px*/
.buttons {
  position: absolute;
  font-size: 22px;
  top: -moz-calc(100% - 45px + 5px); /*gap is 5px*/
  width: -moz-calc(50% - 15px);
  height: 3.5rem; /*45px - (5px)*2*/
  z-index: 50;
}

#trace-info {
  font-size: var(--font-p-pri);
  overflow: scroll;
  outline: none;
  height: 100%;
}

#test-result-content {
  overflow: scroll;
  outline: none;
  height: 80%;
}

#test-result-content > p {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.rtc-container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: var(--font-p-pri);
}

#bt-content {
  position: absolute;
  width: 100%;
  height: calc(100% - 90px);
  top: 48px;
  overflow: hidden;
  font-size: var(--font-p-pri);
}

#bt-content,
#bt-content > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#restartYes,
#autoStartButton,
#passButton {
  left: 10px;
}

#restartNo,
#autoEndButton,
#failButton {
  right: 10px;
}

#okButton {
  width: 100% !important;
}

#wifi-networks {
  margin-top: 3rem;
  padding: 1rem;
}
