#radio {
  display: inline-flex;
  vertical-align: middle;
  width: 100%;
  height: 5rem;
  position: relative;
  background: none;
}
#radio.inline {
  width: 5rem;
}
#radio span:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1.1rem;
  width: 2.2rem;
  height: 2.2rem;
}
#radio span:after {
  background: url(images/default.png) no-repeat center top / 2.2rem auto;
}
#radio.checked span:after {
  background-position: center bottom;
}
#radio.danger span:after {
  background-image: url(images/danger.png);
}
#radio .radio-content {
  flex-grow: 1;
}
.radio-img {
  width: 2.2rem;
}