html,
body,
#root,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

*.focus,
.hasfocused {
  color: var(--highlight-text-color, var(--color-gs00));
  background-color: var(--highlight-color, #00b965) !important;
}

:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

@keyframes sheet {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.app-workspace {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.panel-appList--opened {
    background-color: rgba(0, 0, 0, 0.85);
  }

  &.panel-instantSettings--opened {
    background: linear-gradient(rgba(#000, 0.7), #000);
  }

  > .header {
    background: var(--header-background, var(--background, #fff));
    padding: 0;
    margin: 0;

    > h1 {
      font-size: 2.4rem;
      font-weight: 400;
      color: white;
      padding: 0 0 0 1rem;
      margin: 0;
    }
  }
}

// #software-keys-center[data-icon="apps-google"] {
//   background-image: url("../../style/images/all_apps.png");
//   background-position: center center;
//   background-repeat: no-repeat;
// }

// #software-keys-center[data-icon="apps-google"]::after {
//   content: '';
// }

// custom soft-key style & color in Launcher
.skbar {
  --softkeybar-background-color: transparent;
  --softkey-color: var(--color-gs00);
  --softkey-color--icon: var(--color-gs20);
  --softkey-icon-size: 1.6rem;

  background-image: linear-gradient(rgba(#000, 0), rgba(#000, 0.4));
}

.app-content {
  height: calc(100% - var(--softkeybar-height) - var(--statusbar-height));
  position: relative;

  > div {
    position: absolute;
    top: var(--statusbar-height);
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes upToBottom {
  from { transform: translateY(-3rem); }
  to { transform: none; }
}

.x-window[data-transition-state="closed"],
.x-window[aria-hidden="true"] {
  display: none;

  // hack to load icons of hidden panel, i.e. AppList & SpeedDial
  .loaded & {
    display: unset;
    visibility: hidden;
  }
}

.x-window.bottom-to-up {
  animation-duration: 50ms;
}

.x-window.x-window > div {
  background-color: unset;
}

